.card {
  border: 2px solid black;
  width: auto;
  height: auto;
  margin: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.card .movie .movie-title {
  border: 2px solid black;
  text-align: center;
  margin: 10px;
  width: 150px;
  height: auto;
}
.movie {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 200px;
}
.card .cover {
  width: 100%;
  border-radius: 0.25em;
}
